.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 200;
  background-color: #fff;
}

.header__logo {
  height: 25px;
  object-fit: contain;
  margin-left: 20px;
}

.header__input {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid lightgray;
  height: 25px;
  border-radius: 2px;
}

.header__inputButton {
  border-left: 1px solid lightgray;
  color: gray;
  background-color: #fafafa;
  margin-top: 8px;
}

.header__inputSearch {
  border: none;
  outline: none;
  flex: 1;
}

.header__icon {
  margin-right: 8px;
  cursor: pointer;
}

.header__icons {
  display: flex;
  align-items: center;
}
